<a href="https://colab.research.google.com/github/mirzarad/CSE308/blob/master/Cali_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os
!curl -L http://download.osgeo.org/libspatialindex/spatialindex-src-1.8.5.tar.gz | tar xz
os.chdir("/content/spatialindex-src-1.8.5")
!./configure
!make
!make install
!ldconfig

In [0]:
!pip install geopandas
!pip install rtree
!pip install pyshp
!pip install pyproj
!pip install geopy
!pip install fiona
!pip install https://github.com/JosPolfliet/pandas-profiling/archive/master.zip

!pip install https://github.com/andrea-cuttone/geoplotlib/archive/master.zip

!pip install https://github.com/ResidentMario/missingno/archive/master.zip
!pip install maup

In [0]:
#import some packages you will be using
import pandas as pd 
import numpy as np  
import matplotlib.pyplot as plt 
from scipy import stats
from sklearn import linear_model, metrics 
from sklearn.preprocessing import LabelEncoder
import seaborn as sns

In [88]:
from google.colab import files
uploaded=files.upload()

Saving cali_demogr.csv to cali_demogr (1).csv

In [0]:
!unzip /content/spatialindex-src-1.8.5/srprec_state_g16_v01_shp.zip
!unzip /content/spatialindex-src-1.8.5/state_g16_sov_data_by_g16_srprec.zip
!unzip /content/spatialindex-src-1.8.5/PL9410_BLOCK10_PL94_2_4_H1.zip

In [0]:
# making data frame from csv file
sprec_to_blk= pd.read_csv("/content/spatialindex-src-1.8.5/state_g18_sr_blk_map.csv")
sprec_to_blk.head()
cali_elec_2016 = pd.read_csv("/content/spatialindex-src-1.8.5/state_g18_sov_data_by_g18_srprec.csv")

In [34]:
sprec_to_blk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398568 entries, 0 to 398567
Data columns (total 14 columns):
COUNTY        398568 non-null int64
FIPS          398568 non-null int64
ELECTION      398568 non-null object
TYPE          398568 non-null object
SRPREC_KEY    398568 non-null object
BLOCK_KEY     398568 non-null int64
SRPREC        398534 non-null object
TRACT         398568 non-null int64
BLOCK         398568 non-null int64
BLKREG        398568 non-null int64
SRTOTREG      398534 non-null float64
PCTSRPREC     398534 non-null float64
BLKTOTREG     398568 non-null int64
PCTBLK        398568 non-null float64
dtypes: float64(3), int64(7), object(4)
memory usage: 42.6+ MB

In [35]:
sprec_to_blk['BLOCK_KEY'].nunique()

382395

In [36]:
sprec_to_blk.drop(["COUNTY", "FIPS", 	"ELECTION", "TYPE","TRACT","BLKREG",	"SRTOTREG", 	"PCTSRPREC", 	"BLKTOTREG"],axis=1,inplace=True)
sprec_to_blk.head()

  SRPREC_KEY       BLOCK_KEY SRPREC  BLOCK  PCTBLK
0   06097nan  60970000000000    NaN      0   100.0
1  060971002  60971525011014   1002   1014   100.0
2  060971002  60971525013008   1002   3008   100.0
3  060971006  60971522025016   1006   5016   100.0
4  060971008  60971526001002   1008   1002   100.0

In [0]:
sprec_to_blk.duplicated(["BLOCK_KEY","SRPREC"])

In [39]:
!pip install simpledbf
from simpledbf import Dbf5
dbf = Dbf5('/content/spatialindex-src-1.8.5/PL9410_BLOCK10_PL94_2_4_H1.DBF')
cencus = dbf.to_dataframe()

Requirement already satisfied: simpledbf in /usr/local/lib/python3.6/dist-packages (0.2.6)

In [0]:
cencus.drop(["FILEID" ,	"STATE",	"SUMLEV" ,"LOGRECNO",	"REGION", "REGION", "DIVISION" ,
           "COUSUB",	"COUSUBCC","PLACE","PLACECC","TRACT","BLKGROUP","CD01","GCUNI",
           "H0010001", 	"H0010002", 	"H0010003","V21", 	"V31", 	"V41","V51","V11"],axis=1,
          inplace=True)

In [41]:
cencus.head()

  COUNTYFIPS        BLOCK_KEY BLOCK  ... P0040071  P0040072  P0040073
0      06001  060014277003018  3018  ...        0         0         0
1      06001  060014283014046  4046  ...        0         0         0
2      06001  060014284001020  1020  ...        0         0         0
3      06001  060014285001009  1009  ...        0         0         0
4      06001  060014286002004  2004  ...        0         0         0

[5 rows x 153 columns]

In [42]:
cencus["BLOCK_KEY"].nunique()

710145

In [43]:
cencus.describe()

          POPULATION       P0010001  ...       P0040072       P0040073
count  710145.000000  710145.000000  ...  710145.000000  710145.000000
mean       52.459647      52.459647  ...       0.000055       0.000055
std       120.585772     120.585772  ...       0.009713       0.009713
min         0.000000       0.000000  ...       0.000000       0.000000
25%         0.000000       0.000000  ...       0.000000       0.000000
50%         7.000000       7.000000  ...       0.000000       0.000000
75%        62.000000      62.000000  ...       0.000000       0.000000
max      7910.000000    7910.000000  ...       3.000000       3.000000

[8 rows x 149 columns]

In [0]:
cencus.duplicated()

In [31]:
cencus.dtypes

COUNTYFIPS    object
BLOCK_KEY     object
BLOCK         object
NAME          object
POPULATION     int64
               ...
P0040069       int64
P0040070       int64
P0040071       int64
P0040072       int64
P0040073       int64
Length: 153, dtype: object

In [0]:
census = cencus.iloc[0:100000]

In [45]:
census.head()

  COUNTYFIPS        BLOCK_KEY BLOCK  ... P0040071  P0040072  P0040073
0      06001  060014277003018  3018  ...        0         0         0
1      06001  060014283014046  4046  ...        0         0         0
2      06001  060014284001020  1020  ...        0         0         0
3      06001  060014285001009  1009  ...        0         0         0
4      06001  060014286002004  2004  ...        0         0         0

[5 rows x 153 columns]

In [0]:
demographics1 = pd.merge(sprec_to_blk, census.astype({'BLOCK_KEY': 'int64'}), on='BLOCK_KEY')

In [47]:
demographics1.head()

   SRPREC_KEY       BLOCK_KEY SRPREC  ...  P0040071  P0040072 P0040073
0  060231CS-1  60230007002004  1CS-1  ...         0         0        0
1  060231CS-1  60230007002005  1CS-1  ...         0         0        0
2  060231CS-1  60230007002006  1CS-1  ...         0         0        0
3  060231CS-1  60230007002008  1CS-1  ...         0         0        0
4  060231CS-2  60230007002008  1CS-2  ...         0         0        0

[5 rows x 157 columns]

In [48]:
demographics1.isnull().sum()

SRPREC_KEY    0
BLOCK_KEY     0
SRPREC        0
BLOCK_x       0
PCTBLK        0
             ..
P0040069      0
P0040070      0
P0040071      0
P0040072      0
P0040073      0
Length: 157, dtype: int64

In [0]:
census = cencus.iloc[100000:200000]

In [0]:
demographics2 = pd.merge(sprec_to_blk, census.astype({'BLOCK_KEY': 'int64'}), on='BLOCK_KEY')

In [51]:
demographics2.head()

  SRPREC_KEY       BLOCK_KEY SRPREC  ...  P0040071  P0040072 P0040073
0   06033111  60330011001173    111  ...         0         0        0
1   06033581  60330011001173    581  ...         0         0        0
2   06033111  60330013001054    111  ...         0         0        0
3   06033111  60330013001056    111  ...         0         0        0
4   06033111  60330013001057    111  ...         0         0        0

[5 rows x 157 columns]

In [26]:
demographics1.isnull().sum()

SRPREC_KEY    0
BLOCK_KEY     0
SRPREC        0
BLOCK_x       0
PCTBLK        0
             ..
P0040069      0
P0040070      0
P0040071      0
P0040072      0
P0040073      0
Length: 157, dtype: int64

In [0]:
census = cencus.iloc[200000:300000]

In [0]:
demographics3 = pd.merge(sprec_to_blk, census.astype({'BLOCK_KEY': 'int64'}), on='BLOCK_KEY')

In [55]:
demographics3.head()

   SRPREC_KEY       BLOCK_KEY SRPREC  ...  P0040071  P0040072 P0040073
0  0604701001  60470003011000  01001  ...         0         0        0
1  0604701001  60470003011005  01001  ...         0         0        0
2  0604701001  60470003011006  01001  ...         0         0        0
3  0604701001  60470003011015  01001  ...         0         0        0
4  0604701001  60470003011017  01001  ...         0         0        0

[5 rows x 157 columns]

In [0]:
census = cencus.iloc[300000:500000]
demographics4 = pd.merge(sprec_to_blk, census.astype({'BLOCK_KEY': 'int64'}), on='BLOCK_KEY')

In [57]:
demographics4.head()

  SRPREC_KEY       BLOCK_KEY SRPREC  ...  P0040071  P0040072 P0040073
0  06057CP01  60570002002009   CP01  ...         0         0        0
1  06057CP02  60570002002009   CP02  ...         0         0        0
2  06057CP18  60570002002009   CP18  ...         0         0        0
3  06057CP01  60570002002025   CP01  ...         0         0        0
4  06057CP17  60570002002025   CP17  ...         0         0        0

[5 rows x 157 columns]

In [0]:
census = cencus.iloc[500000:]
demographics5 = pd.merge(sprec_to_blk, census.astype({'BLOCK_KEY': 'int64'}), on='BLOCK_KEY')

In [0]:
frames = [demographics1, demographics2, demographics3,demographics4,demographics5]
demographics = pd.concat(frames)

In [60]:
demographics.head()

   SRPREC_KEY       BLOCK_KEY SRPREC  ...  P0040071  P0040072 P0040073
0  060231CS-1  60230007002004  1CS-1  ...         0         0        0
1  060231CS-1  60230007002005  1CS-1  ...         0         0        0
2  060231CS-1  60230007002006  1CS-1  ...         0         0        0
3  060231CS-1  60230007002008  1CS-1  ...         0         0        0
4  060231CS-2  60230007002008  1CS-2  ...         0         0        0

[5 rows x 157 columns]

In [35]:
demographics.dtypes

SRPREC_KEY     object
BLOCK_KEY       int64
SRPREC         object
BLOCK_x         int64
PCTBLK        float64
               ...
P0040069        int64
P0040070        int64
P0040071        int64
P0040072        int64
P0040073        int64
Length: 157, dtype: object

In [61]:
columns = demographics.columns[8:157]
import math
for i in columns:
  demographics[i] = round(((demographics[i]*demographics["PCTBLK"])/100),0)
demographics.head()

   SRPREC_KEY       BLOCK_KEY SRPREC  ...  P0040071  P0040072 P0040073
0  060231CS-1  60230007002004  1CS-1  ...       0.0       0.0      0.0
1  060231CS-1  60230007002005  1CS-1  ...       0.0       0.0      0.0
2  060231CS-1  60230007002006  1CS-1  ...       0.0       0.0      0.0
3  060231CS-1  60230007002008  1CS-1  ...       0.0       0.0      0.0
4  060231CS-2  60230007002008  1CS-2  ...       0.0       0.0      0.0

[5 rows x 157 columns]

In [62]:
demographics["SRPREC"].nunique()

20373

In [0]:
cali_demogr=demographics.groupby("SRPREC").sum()

In [0]:
cali_demogr.drop(["BLOCK_KEY","BLOCK_x","PCTBLK"],axis=1,inplace=True)

In [65]:
cali_demogr.head()

        POPULATION  P0010001  P0020001  ...  P0040071  P0040072  P0040073
SRPREC                                  ...
1.0        13666.0   13666.0   13666.0  ...       0.0       0.0       0.0
2.0         7108.0    7108.0    7108.0  ...       0.0       0.0       0.0
3.0         6063.0    6063.0    6063.0  ...       0.0       0.0       0.0
4.0         8581.0    8581.0    8581.0  ...       0.0       0.0       0.0
5.0        10388.0   10388.0   10388.0  ...       0.0       0.0       0.0

[5 rows x 149 columns]

In [0]:
cali_demogr.to_csv("cali_preproc_demogr2018.csv")

In [67]:
cali_demogr.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20373 entries, 1.0 to YV52128
Columns: 149 entries, POPULATION to P0040073
dtypes: float64(149)
memory usage: 23.3+ MB

In [0]:
cali_demographics = cali_demogr.rename(columns = {"P0010001":"TAPERSONS","P0020002":"TAHISPANIC","P0020003":"TANHPOALN"
,"P0020004":"TA1RACE","P0020005":"TAWHITEALN", 	"P0020006":"TABLACKALN","P0020007":"TAAMINDALN", 	"P0020008":"TAASIANALN", 	"P0020009":"TANHPOALN", 
"P0020010":"TAOTHERALN","P0020012":"TA2RACE","P0040001":"VAPERSONS", 	"P0040002":"VAHISPANIC", 	"P0040003":"VANHPOALN" ,"P0040004":"VA1RACE",	"P0040005":"VAWHITEALN","P0040006":"VABLACKALN",
"P0040007":"VAAIANALN","P0040008":"VAASIANALN","P0040009":"VANHPOALN","P0040010":"VAOTHERALN"})

In [81]:
cali_demographics.head()

        POPULATION  TAPERSONS  P0020001  ...  P0040071  P0040072  P0040073
SRPREC                                   ...
1.0        13666.0    13666.0   13666.0  ...       0.0       0.0       0.0
2.0         7108.0     7108.0    7108.0  ...       0.0       0.0       0.0
3.0         6063.0     6063.0    6063.0  ...       0.0       0.0       0.0
4.0         8581.0     8581.0    8581.0  ...       0.0       0.0       0.0
5.0        10388.0    10388.0   10388.0  ...       0.0       0.0       0.0

[5 rows x 149 columns]

In [0]:
cali_demographics = cali_demographics[["TAPERSONS","TAHISPANIC","TANHPOALN","TA1RACE","TAWHITEALN","TABLACKALN","TAAMINDALN","TAASIANALN","TANHPOALN", 
"TAOTHERALN","TA2RACE","VAPERSONS","VAHISPANIC","VANHPOALN","VA1RACE","VAWHITEALN","VABLACKALN",
"VAAIANALN","VAASIANALN","VANHPOALN","VAOTHERALN"]]

In [86]:
cali_demographics.head()

        TAPERSONS  TAHISPANIC  TANHPOALN  ...  VANHPOALN  VANHPOALN  VAOTHERALN
SRPREC                                    ...
1.0       13666.0      5853.0     7813.0  ...     5857.0       11.0        16.0
2.0        7108.0      2733.0     4375.0  ...     3237.0        6.0         8.0
3.0        6063.0      2468.0     3593.0  ...     2691.0        5.0         4.0
4.0        8581.0      2537.0     6045.0  ...     4595.0       24.0        10.0
5.0       10388.0      3890.0     6497.0  ...     4750.0       16.0         7.0

[5 rows x 33 columns]

In [0]:
cali_demographics.to_csv("cali_demogr.csv")

In [102]:
cali_elec_2016.head()

   COUNTY SRPREC  ADDIST  CDDIST  ...  TRSDEM01  TRSREP01  USSDEM01  USSDEM02
0      49   1002       2       5  ...        19         6         8        17
1      49   1006       2       5  ...         1         0         1         0
2      49   1008       2       5  ...        84        33        58        58
3      49   1009       2       5  ...        78        38        45        57
4      49   1012       2       5  ...        14         1         5        11

[5 rows x 85 columns]

In [0]:
cali_elec_2016.drop(cali_elec_2016.iloc[:,38:72],axis=1,inplace=True)

In [226]:
cali_elec_2016.head()

   COUNTY SRPREC  ADDIST  CDDIST  ...  SENLIB01  SENREP01  USSDEM01  USSDEM02
0      49   1001       2       5  ...         0         0       148        33
1      49   1002       2       5  ...         0         0        15         6
2      49   1006       2       5  ...         0         0         0         2
3      49   1008       2       5  ...         0         0        95        35
4      49   1009       2       5  ...         0         0        74        32

[5 rows x 49 columns]

In [0]:
cali_elec_2016.drop(cali_elec_2016.iloc[:,3:34],axis=1,inplace=True)

In [228]:
cali_elec_2016.head()

   COUNTY SRPREC  ADDIST  CNGDEM01  ...  SENLIB01  SENREP01  USSDEM01  USSDEM02
0      49   1001       2       168  ...         0         0       148        33
1      49   1002       2        16  ...         0         0        15         6
2      49   1006       2         0  ...         0         0         0         2
3      49   1008       2       102  ...         0         0        95        35
4      49   1009       2        88  ...         0         0        74        32

[5 rows x 18 columns]

In [0]:
cali_elec_2016.drop(["ADDIST", 	"SENDEM01", 	"SENDEM02", 	"SENLIB01", 
                     "SENREP01" ,	"USSDEM01" ,	"USSDEM02"],axis=1,inplace=True)

In [230]:
cali_elec_2016.head()

   COUNTY SRPREC  CNGDEM01  CNGDEM02  ...  PRSGRN01  PRSLIB01  PRSPAF01  PRSREP01
0      49   1001       168         0  ...         5        12         1        50
1      49   1002        16         0  ...         2         3         0         2
2      49   1006         0         0  ...         0         0         0         2
3      49   1008       102         0  ...         5         2         0        32
4      49   1009        88         0  ...         6         4         1        32

[5 rows x 11 columns]

In [0]:
cali_elec_2016.drop(cali_elec_2016.loc[cali_elec_2016['SRPREC']=="CNTYTOT"].index, inplace=True)

In [0]:
cali_elec_2016["CNGDEM01"] = cali_elec_2016["CNGDEM01"] + cali_elec_2016["CNGDEM02"]

In [241]:

cali_elec_2016.drop(["CNGDEM02"],axis=1,inplace=True)
cali_elec_2016["TOTALCNG"] = cali_elec_2016["CNGDEM01"] + cali_elec_2016["CNGIND01"]+ cali_elec_2016["CNGREP01"]
cali_elec_2016["TOTALPRS"] = cali_elec_2016["PRSDEM01"]+cali_elec_2016["PRSGRN01"]+cali_elec_2016["PRSLIB01"]+cali_elec_2016["PRSPAF01"]+cali_elec_2016["PRSREP01"]
cali_elec_2016.head()

   COUNTY SRPREC  CNGDEM01  CNGIND01  ...  PRSPAF01  PRSREP01  TOTALCNG  TOTALPRS
0      49   1001       168         0  ...         1        50       212       209
1      49   1002        16         0  ...         0         2        19        21
2      49   1006         0         0  ...         0         2         2         2
3      49   1008       102         0  ...         0        32       137       137
4      49   1009        88         0  ...         1        32       119       123

[5 rows x 12 columns]

In [0]:
cali_elec_2016 = cali_elec_2016.rename(columns={"CNGDEM01":"CNGDEM","CNGIND01":"CNGIND",	"CNGREP01":"CNGREP",	"PRSDEM01": "PRSDEM",	"PRSGRN01":"PRSGRN","PRSLIB01": "PRSLIB","PRSPAF01":"PRSPAF","PRSREP01":"PRSREP"})

In [245]:
cali_elec_2016.head()

   COUNTY SRPREC  CNGDEM  CNGIND  ...  PRSPAF  PRSREP  TOTALCNG  TOTALPRS
0      49   1001     168       0  ...       1      50       212       209
1      49   1002      16       0  ...       0       2        19        21
2      49   1006       0       0  ...       0       2         2         2
3      49   1008     102       0  ...       0      32       137       137
4      49   1009      88       0  ...       1      32       119       123

[5 rows x 12 columns]

In [0]:
cali_elec_2016.to_csv("cali_elec_2018.csv")

In [0]:
# making data frame from csv file
dem= pd.read_csv("/content/spatialindex-src-1.8.5/cali_demogr (1).csv")
elec=pd.read_csv("/content/spatialindex-src-1.8.5/cali_elec_2016.csv")

In [90]:
dem.head()

  SRPREC  TAPERSONS  TAHISPANIC  ...  VANHPOALN.6  VANHPOALN.7  VAOTHERALN
0    1.0    13666.0      5853.0  ...       5857.0         11.0        16.0
1    2.0     7108.0      2733.0  ...       3237.0          6.0         8.0
2    3.0     6063.0      2468.0  ...       2691.0          5.0         4.0
3    4.0     8581.0      2537.0  ...       4595.0         24.0        10.0
4    5.0    10388.0      3890.0  ...       4750.0         16.0         7.0

[5 rows x 34 columns]

In [0]:
dem.drop(["TANHPOALN.1","TANHPOALN.2","TANHPOALN.3","TANHPOALN.4","TANHPOALN.5","TANHPOALN.6",
          "TANHPOALN.7","VANHPOALN.1","VANHPOALN.2","VANHPOALN.3","VANHPOALN.4","VANHPOALN.5","VANHPOALN.6","VANHPOALN.7"],axis=1,inplace=True)

In [92]:
dem.head()

  SRPREC  TAPERSONS  TAHISPANIC  ...  VAAIANALN  VAASIANALN  VAOTHERALN
0    1.0    13666.0      5853.0  ...      158.0       722.0        16.0
1    2.0     7108.0      2733.0  ...       74.0       416.0         8.0
2    3.0     6063.0      2468.0  ...      183.0       153.0         4.0
3    4.0     8581.0      2537.0  ...      124.0       646.0        10.0
4    5.0    10388.0      3890.0  ...       86.0       610.0         7.0

[5 rows x 20 columns]

In [0]:
dem.to_csv("cali_demogr_2018.csv")